TDE_IA/
guia-python-leetcode.md
Problemas_Sequenciais_01/Problemas_01_2026_Seq1.pdf
Problemas_Sequenciais_02/Problemas_02_2026_Seq2.pdf
Problemas_Selecao_01/Problemas_03_2026_Sel1.pdf
Problemas_Selecao_02/Problemas_04_2026_Sel2.pdf
Problemas_Selecao_03/Problemas_05_2026_Sel3.pdf
Problemas_Repeticao_01/Problemas_06_2026_Rep1.pdf
Problemas_Repeticao_02/Problemas_07_2026_Rep2.pdf
Problemas_Repeticao_03/Problemas_08_2026_Rep3.pdf
Problemas_Repeticao_04/Problemas_09_2026_Rep4.pdf
.vscode/settings.json
.gitignore